*
{
background-color:#44EFBE;
font-family:Adobe Ming Std L;
margin:8px;
padding:8px;
}
h1
{
height:88px;
color:#ffffff;
background-color:orange;
}
h2
{
color:#FE69D1
}
img
{
height:200px;
width:200px;
}
table
{
border-color:#058866;
background:pink;
}
aside
{
background-color:#29AF2F;
height:300px;
width:20%;
float:right;
}
footer
{
background-color:#F2E02B;
height:300px;
width:55%;
float:left;
}
